*{
  margin:0px;
  padding:0px;
}
.App{padding-top: 25px;}
img{display: block;width: 100%;}
.gh-grey-text{color:#666}
.gh-btn{
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:100%  
}

#avatar{border-radius:7px;margin-bottom:15px}
#user-id{margin-bottom: 15px;}
#user-bio{font-size: 12px;margin-bottom:15px}
hr{margin: 15px 0px;}
.contains-icon{margin-bottom: 5px;}
#left-side svg{height: 14px; width: 16px; position: relative;margin-right: 10px; top:2px; opacity: 0.6;}

@media (min-width : 768px){
  .desktop-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }
  #left-side{
    width: 200px;  
  }
  #right-side{
    width: 950px;  
  }
}