*{
  margin:0px;
  padding:0px;
}
img{display: block;width: 100%;}



@media (min-width : 768px){
  .desktop-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }
  #left-side{
    width: 200px;  
  }
  #right-side{
    width: 950px;  
  }
}