*{
  margin:0px;
  padding:0px;
}
.App{padding-top: 25px;}
img{display: block;width: 100%;}
ul{list-style: none;}
.gh-grey-text{color:#666}
.gh-btn{
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:100%  
}
hr{outline: 0px;height: 1px;border: 0px;background: lightgrey;}
#avatar{border-radius:7px;margin-bottom:15px}
#user-id{margin-bottom: 15px;}
#user-bio{font-size: 12px;margin-bottom:15px}
hr{margin: 15px 0px;}
.contains-icon{margin-bottom: 5px;}
#left-side svg{height: 14px; width: 16px; position: relative;margin-right: 10px; top:2px; opacity: 0.6;}

/* RHS */

#options-bar{border-bottom: 1px solid #ccc;}
#options-bar ul{display: flex; flex-direction: row;}
#options-bar li{margin-right: 30px; cursor: pointer; line-height: 50px; font-size: 14px;}
#options-bar li.active{color:#000 !important;font-weight: bold;border-bottom:2px solid #e36209}
.badge{font-size: 12px;background-color: #ccc;padding: 2px 7px;border-radius: 10px;color:#666;font-weight: bold;}

#filters-bar{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

#new-repo{color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);width: 70px;}
@media (min-width : 768px){
  .desktop-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }
  #left-side{
    width: 200px;  
  }
  #right-side{
    width: 950px;  
  }
}